.sign-in {
    width: 380px;
    display: flex;
    flex-direction: column;
    margin: 20px 0;

    @media (max-width:800px) {
    
     width: auto;
    }
    .title {
      margin: 10px 0;
    }
  
    .buttons-div {
      display: flex;
      justify-content: space-between;
     
      @media (max-width:500px) {
        flex-direction: column;
      }
    }
  }